<body>
  <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
    <div class="wrapper wrapper--w680">
      <div class="card card-4">
        <div class="card-body">
          <h2 class="title">Kayıt Formu</h2>
          <form [formGroup]="registerForm">
            <div class="row row-space">
              <div class="col-2">
                <div class="input-group">
                  <label class="label">Adı</label>
                  <input formControlName="firstName" class="input--style-4" type="text" />
                </div>
              </div>
              <div class="col-2">
                <div class="input-group">
                  <label class="label">Soyadı</label>
                  <input formControlName="lastName" class="input--style-4" type="text"  />
                </div>
              </div>
            </div>

            <div class="row row-space">
              <div class="col-2">
                <div class="input-group">
                  <label class="label">Email</label>
                  <input formControlName="email" class="input--style-4" type="email" />
                </div>
              </div>
              <div class="col-2">
                <div class="input-group">
                  <label class="label">Parola</label>
                  <div class="input-group-icon">
                    <input
                    formControlName="password"
                      class="input--style-4"
                      type="password"
                    />
                    <i
                      class="zmdi zmdi-calendar-note input-icon js-btn-calendar"
                    ></i>
                  </div>
                </div>
              </div>
            </div>

            <div class="p-t-15">
              <button class="btn btn--radius-2 btn--blue" (click)="register()">
                Gönder
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
