<div class="content">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                
                <tr>
                    <td><h5 class="title">Marka Ekle</h5></td>
                    <td><h5><button type="button" class="btn btn-outline-secondary" routerLink="/list">Geri dön</button></h5></td>
                    </tr>
                    
                    
                
                
            </div>
            <div class="card-body">
                <form [formGroup]="brandAddForm" >
                    <div class="mb-3">
                        <div class="form-group">
                            <label for="brandName">Marka Adı</label>
                            <input type="text" id="brandName" formControlName="brandName" class="form-control" placeholder="Marka" />
                        </div>
                    </div>
                   
                </form>
            </div>
            <div class="card-footer">
                <button class="btn btn-fill btn-primary" (click)="add()" >Ekle</button>
            </div>
        </div>
    </div>
</div>


